.task-box {
    height: 84%;
    width: 105%;
    margin: auto;
    margin-top: 20px;

    h2 {
        text-align: center;
        font-size: 1.8rem;
        margin-top: 40px;
        margin-bottom: 10px;
        color: #333;
    }

    p {
        font-size: 1rem;
        color: #555;
    }
}


mat-card {
    background-color: white;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 18px;
    text-align: right;
    box-shadow: 3px 3px lightgray;
    border: solid black 2px;
}


.task-card {
    margin-bottom: 1rem;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.02);

    }


}

mat-card-content {
    font-size: 14px;
    font-family: vazirbold;
}

mat-card-title {
    font-size: 14px;
    font-family: vazirbold;
}

#duty {
    font-size: 14px;
}

#status {
    font-size: 14px;
}


.example-viewport {
    height: 100%;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 28px;
}

button {
    cursor: pointer;
    z-index: 10000;
    font-size: 14px;
}

.buttons button {
    cursor: pointer;
    z-index: 10000;
    font-size: 13px;
    background: #f3bc14;
    padding: 9px;
    border: 2px solid black;
    border-radius: 16px;
}

button:active {
    text-decoration: underline;
}

br {
    line-height: 6px;
}


//.done {
//  box-shadow: 3px 3px lightgreen;
//}

//.pending {
// box-shadow: 3px 3px red;
//}



.addtask {
    height: 13%;
    background-color: #f6f5f8;
    text-align: end;
}

.addtask button {
    background: #4d5abf;
    border-radius: 10px;
    margin-right: 28px;
    height: 45px;
    width: 45px;
    margin-top: 20px;
}



.donebtn {
    cursor: pointer;
    font-size: 16px;
    background: #f3bc14;
    width: 100%;
    margin-left: 0px;
    border-radius: 0px 0px 16px 16px;
    color: black;
    padding: 2px;
    border-top: solid black 2px;
}

.donebtn:hover {
    background-color: #f3bb14a4;
}

#deletbtn {
    font-size: 20px
}

.deletebtn {
    background: #f3bc14;
    border-radius: 180%;
    padding: 3px;
}

.headercard {
    justify-content: space-between;
    flex-direction: row-reverse;
}

mat-card.mat-mdc-card.mdc-card.task-card {
    background-color: #f0faf9;
}


.div-addtask {
    display: flex;
    align-items: center;
    height: 13%;
    width: 90%;
    border-radius: 10px;
    border: solid black 2px;
    margin-top: 10px;
    margin: auto;
    margin-top: 20px;
    background-color: #ebf3ec;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    padding: 3px;
}

.input-addtask {
    background-color: #f0faf9;
    height: 70%;
    width: 80%;
    font-size: 13px;
    text-align: right;
    padding-right: 10px;
    border-radius: 10px;
}

.addinftaskbtn {
    background: #f3bc14;
    width: 16%;
    border-radius: 10px;
    height: 70%;
}

#addicon {
    font-size: 32px;
}

#duty-title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


#deletetask {
    border-radius: 100%;
    background-color: #f3bc14;
    margin-right: 5px;
    padding: 4px;
}


#donetask {
    border-radius: 100%;
    background-color: #f3bc14;
    padding: 4px;
}





@media only screen and (min-width: 425px) {
    .example-viewport {
        height: 94%;
    }
}



@media only screen and (min-width: 768px) {
    .div-addtask {
        height: 10%;
    }

    .input-addtask {
        width: 85%;
    }

    .addinftaskbtn {
        width: 10%;
    }

    mat-card.mat-mdc-card.mdc-card.task-card {
        width: 86%;
    }

    .example-viewport {
        height: 98%;
    }


}

@media only screen and (min-width: 1024px) {
    mat-card.mat-mdc-card.mdc-card.task-card {
        width: 86%;
        margin-left: 42px;
    }
}

@media only screen and (width >=1440px) {
    mat-card.mat-mdc-card.mdc-card.task-card {
        margin-left: 64px;
    }
}