.task-box {
    margin-top: 35px;
    height: 84%;

    h2 {
        text-align: center;
        font-size: 1.8rem;
        margin-top: 40px;
        margin-bottom: 10px;
        color: #333;
    }

    p {
        font-size: 1rem;
        color: #555;
    }
}


mat-card {
    background-color: white;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 18px;
    text-align: right;
    box-shadow: 3px 3px lightgray;
}


.task-card {
    margin-bottom: 1rem;
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.02);

    }

    mat-card-header {
        justify-content: right;
    }
}

mat-card-title {}


.example-viewport {
    height: 100%;
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 28px;
}

button {
    cursor: pointer;
    z-index: 10000;
}
button:active{
    text-decoration: underline ;
}

br {
    line-height: 6px;
}

.done{
    box-shadow: 3px 3px lightgreen;
}

.pending{
    box-shadow: 3px 3px red;
}

@media (width >=64rem) {
    .buttons button{
        font-size: x-large;
    }

    #usernum{
        font-size: x-large;
    }

    #duty-title p{
        font-size: x-large;
    }
}

@media (width >= 80rem) {
    .task-box{
        height: 100%;
    }
}