<div class=" buttons">
  <button (click)="alltasksonclick()">همه وظیفه ها({{alltsks}})</button>
  <button (click)="completedonclick()">وظیفه های انجام شده({{comtasks}})</button>
</div>

<div class="task-box">
  

  <cdk-virtual-scroll-viewport itemSize="100" class="example-viewport">
    <div *ngIf="filtertodos.length === 0" class="empty-message">
      <p>هیچ وظیفه‌ای مطابق با فیلتر یافت نشد.</p>
    </div>

    <mat-card *ngFor="let todo of filtertodos" class="task-card" [ngClass]="{ 'done': todo.completed, 'pending': !todo.completed }">
      <mat-card-header>
        <mat-card-title id="usernum">شناسه کاربر: {{ todo.userId }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>:وظیفه</p>
        <br>
        <p id="duty">{{ todo.todo }}</p>
        <p id="status">وضعیت: {{ todo.completed ? 'انجام شده' : 'در حال انجام' }}</p>
      </mat-card-content>
    </mat-card>
  </cdk-virtual-scroll-viewport>

</div>
