<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<div class="top">
    <div class="times">
        <p id="date">{{ currentDate }}</p>
        <p id="clock">{{ currentTime }}</p>
    </div>
    <div>
        <h1>لیست وظایف</h1>
    </div>
</div>


<div class="search-box">
    
    <button id="searchbtn" >
        <i class="material-icons">search</i>
    </button>

    <input type="search" id="search" placeholder="جستوجو" [(ngModel)]="searchvalue" (input)="handellivesearch()">



</div>
