.search-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

#search {
    width: 310px;
    border: 2px solid darkblue;
    border-radius: 6px;
}

#searchbtn {
    width: 35px;
    height: 35px;
    margin-left: 5px;
    border: 2px solid darkblue;
    border-radius: 6px;
}


/*@media (max-width: 64rem) {
    #search {
        width: 50vh;
        height: 80px;
        font-size: xx-large;
    }

    #searchbtn {
        width: 80px;
        height: 80px;
    }

}
    */