.search-box {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    height: 39%;
    align-items: end;
}

#search {
    width: 79%;
    height: 54%;
    border-radius: 6px;
    background: #ebf3ec;
    text-align: right;
    border: solid black 2px;
    font-size: 18px;
}


#searchbtn {
    width: 14%;
    height: 54%;
    background-color: #f3bc14;
    border-radius: 6px;
    color: black;
    border: solid 2px black;
    cursor: pointer;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    width: 90%;
    margin: auto;
}

.times p {
    width: 60px;
    height: 40px;
    border-radius: 6px;
    font-size: 11px;
    align-content: center;
    text-align: center;
    background-color: #f3bc14;
    color: black;
    border: solid 2px black;
    margin-right: 3px ;
}

.top h1 {
    font-size: 26px;
    color: rgb(0, 0, 0);
    font-family: vazirbold;
}

.times {
    display: flex;
}


.addtask {
    border: 2px solid black;
}

#addicon {
    font-size: 36px
}

.div-addtask {
    display: flex;
    align-items: center;
    height: 22%;
    width: 344px;
    border-radius: 10px;
    border: solid black 2px;
    margin-top: 10px;
    margin-left: 35px;
    margin-right: 35px;
    background-color: #ebf3ec;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.input-addtask {
    background-color: #f0faf9;
    height: 70%;
    width: 80%;
    font-size: 13px;
    text-align: right;
    padding-right: 10px;
    border-radius: 10px;
}

.addinftaskbtn {
    background: #f3bc14;
    width: 16%;
    border-radius: 10px;
}

#addicon {
    font-size: 32px;
}



@media only screen and (min-width: 768px) {

    #searchbtn {

        width: 20%;
    }

    #searchbtn {
        font-size: 36px;
    }

    .times p {
        width: 85px;
        font-size: 13px;
    }


}

@media only screen and (min-width: 1024px) {



    .search-box {
        margin: auto;
        margin-top: 35px;
        height: 50%;
    }


}


@media only screen and (width >=2560px) {
    #search {
        font-size: 26px;

        width: 86%;
    }

    #searchbtn {
        font-size: 54px;

        width: 14%;
    }

    .search-box {
        width: 90%;
    }

    .top {
        margin: auto;
        width: 90%;
    }

    .top h1 {
        font-size: 50px;
    }


    .top p {
        width: 170px;
        height: 80px;
        font-size: 26px;
    }


}

@media only screen and (min-width: 375px) {
    #searchbtn {
        width: 20%;
    }
}