<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<div class="top">

    <p>{{ today | date:'MMMM d' }}
    <h1>لیست وظایف</h1>
</div>


<div class="search-box">
    <input type="search" id="search" placeholder="جستوجو" [(ngModel)]="searchvalue">
    <button id="searchbtn" (click)="searchbtn()">
        <i class="material-icons" style="font-size:26px">search</i>

    </button>


</div>