<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<body>
    <div class="main-div">
        <search-selector class="searchselector" (searchchanged)="onSearchChanged($event)"></search-selector>
        <div class="div-todo">
            <todo-selector style="width: 100%; height: 61%;" [filtertext]="searchText"></todo-selector>
        </div>
        <div class="buttom-div"> <button class="add-btn" (click)="openpopup()"><i class="material-icons"
                    style="font-size:36px; color: white;">add</i></button></div>
    </div>

    <div class="pop-up" [style.display]="ispopupopen ? 'block' : 'none'">
        <div class="popup-stra">
            <button (click)="closepopup()"><i class="material-icons" style="font-size:40px; color: white;">clear</i></button>
            <div class="popup-inputs">
                <label for="">شناسه کاربری</label>
                <input type="text">
                <label for="">وظیفه</label>
                <input type="text">
<div class="popup-submite">
                <button (click)="adddata()">تایید</button>
            </div>
            </div>
            
        </div>
    </div>
</body>

</html>