html {
    margin: 0;
}


.main-div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255 242 203);
}

.div-todo {
    height: 76%;
    width: 90%;
    /* margin: auto; */
    background-color: #ebf3ec;
    border-radius: 10px;
    border: solid 2px black;
    margin: auto;
    margin-bottom: 20px;
}

.add-btn {
    background-color: #4d5abf;
    background-color: #4d5abf;
    height: 40%;
    width: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px lightgrey;
}

.buttom-div {
    height: 15%;
    display: flex;
    background-color: f6f5f8;
    flex-direction: row-reverse;
    align-items: center;
    //padding-bottom: 30px;
    padding-bottom: 25px;
    padding-right: 30px;
}

.searchselector {
    width: 100%;
    height: 24%;
    background-color: rgb(255 242 203);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

/*@media only screen and (min-width: 1024px) {
    .div-todo {
        height: 77%;
    }
}
*/

/*@media only screen and (min-width: 1440px) {
    .div-todo {
        width: 90%;
        height: 77%;
    }

}
*/
/*@media only screen and (min-width: 2560px) {
    .searchselector{
        margin-top: 30px;
    }
}
*/

