html {
    margin: 0;
}

.main-div {
    height: 98vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 6px;
    align-items: center;
    background-color: aliceblue;
    border: 2px solid darkblue;
    border-radius: 6px;
}

@media (max-width: 40rem) {
    .main-div {
        height: 100vh;
        width: 100%;
        margin: 0;
        margin-top: 0;
        border: none;
    }
}

@media (max-width: 48rem) {
    .main-div {
        height: 100vh;
        width: 100%;
        margin: 0;
        margin-top: 0;
        border: none;

    }
}

@media (max-width: 64rem) {
    .main-div {
        height: 100vh;
        width: 100%;
        margin: 0;
        margin-top: 0;
        border: none;

    }


}